// Local Font Imports

@font-face {
  font-family: 'Billionaire';
  src: url('../../fonts/BillionaireMediumGrunge.otf') format('opentype');
  src: url('../../fonts/BillionaireMediumGrunge.ttf') format('truetype');
}

@import 'setup';

.container {
	max-width: 900px;
	margin: 0 auto;
}

body.stream-layout {
	width: 1920px;
	height: 1080px;
}
