// Local Font Imports

@font-face {
  font-family: 'Billionaire';
  src: url('../../fonts/BillionaireMediumGrunge.otf') format('opentype');
  src: url('../../fonts/BillionaireMediumGrunge.ttf') format('truetype');
}

@import 'mixins';

@import 'setup';

body.stream-layout {
	width: 1920px;
	height: 1080px;
  font-family: 'Billionaire', sans-serif;
}

body.generator-body {
  background: linear-gradient(135deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
  color: white;
}

select {
  background: black;
  color: white;
  border: 0;
  padding: 3px;
}

button {
  @include button(black, white);
}

h1 {
  text-align: center;
}

.stream-changer {
  width: 100%;
  text-align: center;
}

.streampreview {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;

  iframe {
    width: 100%;
    border: 1px solid black;
  }
}

.html-generation {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  textarea {
    margin-top: 20px;
    resize: vertical;
    width: 100%;
    height: auto;
  }
}
